.blog-item {
  @include flexify($column: true);
  gap: 2rem;

  &-pic {
    padding-top: 56.25%;
    margin-bottom: 2rem;
    position: relative;
  }

  &-label {
    position: absolute;
    background-color: $turquoise;
    color: $white;
    width: 8rem;
    height: 8rem;
    bottom: 2rem;
    left: -1rem;
    gap: .5rem;

    @include flexify($column: true, $align: center, $justify: center);

    h4, p {
      color: $white;
    }

    h4 {
      font: {
        weight: $fw-b;
        size: 3.6rem;
      }
    }
  }
}
