.team-section {

  &-item {
    @extend .item-overlay-helper;

    [class*='-overlay'] {
      @include flexify($align: center, $justify: center);

      opacity: 1;
      height: 4.2rem;
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;

      @include sm {
        opacity: 0;
        height: 100%;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
      }
    }

    &-wrap {
      margin-bottom: 5rem;

      @include sm {
        margin-bottom: 1rem;
      }
    }
  }
}
