.input-group {
  .form-control {
    color: $grey;
    text-align: center;
    font: {
      size: 1.8rem;
      weight: $fw-r;
    }

    &::-webkit-input-placeholder {
      color: $grey;
      text-align: center;
      font: {
        size: 1.8rem;
        weight: $fw-r;
      }
    }
  }
  .input-group-control {
    background-color: $turquoise;
    color: $white;
    text-transform: uppercase;
    border: none;
    padding: 2rem;
    font: {
      size: 1.8rem;
      weight: $fw-b;
    }

    &:hover {
      background-color: darken($turquoise, 15%);
    }
  }
}
